html,body {
	color: #fff;
	background-color: #9b59b6;
}
nav {
	background-color: #e67e22;
}
.brand-logo {
	margin-left: 1em;
}
footer.page-footer {
	background-color: #e67e22;
}
.landing {
	margin-top: 1em;
	background-color: #e67e22;
	text-align: center;
	padding: .5em;
}
.nav-link {
	margin-top: 2em;
	background-color: #e67e22;
	text-align: center;
	padding: .5em;
}
